* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background:#42455a;
  width:100%;
  padding:5%;
  overflow:hidden;
}
/* navbar */
.container {
  display:flex;
  align-items:center;
  gap:60px;
}
.logo {
  width:50px;
  height:50px;
}
nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
ul {
  display:flex;
  gap:40px;
  list-style-type:none;
}
a {
  text-decoration:none;
  color:#7C848C;
  font-size:18px;
}
#blue {
  color:#48B7E0;
}
.btn {
  /* position:absolute;
  top:40px;
  right:80px; */
  color:#fff;
  text-decoration: none;
  border:2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8 );
  background-origin: border-box;
  background-clip:content-box,border-box; 
}
.btn span {
  display:block;
  padding: 8px 22px;
}
/* content */
content {
  display:flex;
  gap:30px;
}
.content-main {
  width:600px;
  margin-top:10%;
  margin-left:8%;
}
h1 {
  color:white;
  font-size:38px;
}
.content-main p {
  margin:30px 0;
  color:#7E757D;
}
.icon-box {
  height:50px;
  width: 50px;
  border:2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8 );
  background-origin: border-box;
  background-clip:content-box,border-box; 
  text-align: center;
  animation:name 0.5s linear infinite;
}
@keyframes name {
  to {
    rotate:360deg;
  }
}
.icon {
  padding:18px 0;
  font-size:13px;
  color:white;
  cursor:pointer;
}
.play-btn {
  display:flex;
  align-items: center;
  gap:20px;
}
.play-btn a {
  color:#48B7E0;
  letter-spacing: 2px;
  text-transform:uppercase;
}
content  img {
  margin-top:10%;
}
/* footer */

.grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  width:700px;
  height:100px;
  text-align:center;
  justify-content:center;
  align-items:center;
  position:absolute;
  bottom:0;
  left:0;
  background:linear-gradient(to right, #fd00da,#19d7f8);
}
.col {
  text-transform:uppercase;
}
.col p {
  font-size:12px;
}
.col i {
  font-size:25px;
  margin-bottom:10px;
}
.social {
  position:absolute;
  right:5%;
  bottom:5%;
  display:flex;
  flex-direction: column;
  gap:20px;
}
.social a {
  border:1px solid #82837E;
  border-radius:50%;
  padding:4px;
  text-align:center;
  color:#82837E;
}
.grid a {
  color:white;
}